.browse-container {
  height: calc(100vh - 52px);
  .option-container {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .ant-input-search {
      width: 50% !important;
    }
  }
  .card-container {
    padding: 40px;
    .favorite-button {
      width: 14px;
      height: 14px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .table-container {
    padding: 40px 0;
  }
  .date-button-group {
    margin-top: 40px;
    button {
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .detail-card {
    margin-top: 40px;
  }
}